@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if(DateTime.Now.Hour.Equals(18))
{
    <span>@DateTime.Now</span>
}
<p>Use this area to provide additional information.</p>
